<% include partials/header %>

<div class = "container">

	<header class="jumbotron">
		<div class = "container">
			<h1>The Debate</h1>
			<p>Articles containing: <%= search %></p>
		</div>
	</header>


	<div class="row" id = "gridRow">
		<% articles.forEach(function(article) { %>
			<div class="col-md-3 col-sm-6 mb-3">
				<a href="/articles/<%= article._id %>" id='cardLink'>
				<div class="card shadow-sm" style="height: 420px;">
					<img class="card-img-top" style="height: 175px;" src="<%= article.image%>"></img>
					<div class="card-body">
						<div class="card-title h5">
							<strong><%= article.title %></strong> by <%= article.author.full_name %>
						</div>
						<p class='card-text line-clamp'><%=article.post %></p>
					</div>
				</div>
				</a>
			</div>
		<% }) %>
	</div>
	

	<a href = "/articles">Go Back</a>
</div>

<% include partials/footer %>