<% include ../partials/header %>
<div class="container">
	<h1>Edit <%= article.title %></h1>
	<div>
		<form action="/articles/<%=article._id%>?_method=PUT" method="POST">
			<div class="mb-3">
				<label>Title</label>
				<input type="text" class="form-control" value = "<%= article.title %>" name = "article[title]">
			</div>
			<div class="mb-3">
				<label>Author</label>
				<input type="text" class="form-control" value = "<%= article.author.full_name %>" name = "article[author][full_name]">
			</div>
			<div class="mb-3">
				<label>Image</label>
				<input type="text" class="form-control" value = "<%=article.image%>" name="article[image]">
			</div>
			<div class="mb-3">
				<label>Article Content</label>
				<textarea class="form-control" name="article[post]" rows=8><%-article.post%></textarea>
			</div>
			<div class="mb-3">
				<button class="btn btn-lg btn-danger btn-primary btn-block">Submit</button>
			</div>
		</form>
		<a href="/articles/<%= article._id %>">Go Back</a>
	</div>
</div>
<% include ../partials/footer %>