<% include ../partials/header %>

<div class = "container mt-4">

	<header class="jumbotron">
		<div class = "container">
			<h1>Welcome to The Debate</h1>
			<p>View our most popular articles</p>
			<p>
				<a href="/articles/new" class = "btn btn-lg btn-danger">Add New Article</a>
			</p>
		</div>
	</header>

	<div class="row">
		<form class="form-inline mb-3 mx-3 ml-auto" action="/articles/search" method="POST">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name='search'>
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>

	<div class="row" id="gridRow">
		<% articles.forEach(function(article) { %>
			<div class="col-md-3 col-sm-6 mb-3">
				<a href="/articles/<%= article._id %>" id='cardLink'>
				<div class="card shadow-sm cardHover" style="height: 420px;">
					<img class="card-img-top" style="height: 175px;" src="<%= article.image%>"></img>
					<div class="card-body">
						<div class="card-title h5">
							<strong><%= article.title %></strong> by <%= article.author.full_name %>
						</div>
						<p class='card-text line-clamp'><%=article.post %></p>
					</div>
				</div>
				</a>
			</div>
		<% }); %>

		</div>
	</div>
</div>

<% include ../partials/footer %>
