<% include ../partials/header %>

<div class = "container mb-3">
	<div class="row">
		<div class="col-md-8">
			<div class = "card">
				<img src="<%=article.image%>" class="card-img-top" style="height: 500px;">
				<div class="card-body">
					<% if (currentUser && article.author.id.equals(currentUser._id)) { %>
						<div class="pull-right">
							<a href="/articles/<%=article._id%>/edit" class = "btn btn-success">Edit</a>
							<form action = "/articles/<%=article._id%>?_method=DELETE" method = "POST" class = "inlineButtons">
								<button class = "btn btn-danger">Delete</button>
							</form>
						</div>
					<% } %>	
					<h1><%= article.title %></h1>
					<h4>By: <%= article.author.full_name %></h4>
					<h5><em>Submitted by <%= article.author.username%></em></h5>
					<p><%- article.post %></p>	
				</div>
			</div>
		</div>

			<!-- prints comments -->
			<!-- <div class="well">
				<div class="pull-right">
					<a href="/articles/<%=article._id%>/comments/new" class="btn btn-success">Add Comment</a>
				</div>
				<h2>Comments</h2>
				<hr>
				<% article.comments.forEach(function(comment) {%>
					<div class="row">
						<div class="col-md-12">
							<strong><%= comment.author.username %></strong>
							<span class="pull-right"><em>10 days ago</em></span>
							<p><%= comment.text %></p>
							<% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
								<form action="/articles/<%=article._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
									<a href="/articles/<%=article._id%>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-warning">Edit</a>
									<button class="btn btn-danger btn-xs">Delete</button>
								</form>
							<% }%>
						</div>
					</div>
				<% }); %>
			</div> -->

		<div class='col-md-4'>
			<h2>Comments</h2>
				<hr>
				<% if (article.comments.length === 0) { %>
					<p>Add a comment and debate!</p>
				<% } %>
				<% article.comments.forEach(function(comment) {%>
					<div class="row">
						<div class="col-md-12">
							<span class="pull-right">
									<% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
										<form class="form-inline" action="/articles/<%=article._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
											<strong class='mr-2'><%= comment.author.username %></strong>
											<em class='mr-2'>10 days ago</em>
											<!-- <a href="/articles/<%=article._id%>/comments/<%=comment._id%>/edit" >
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="icon">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
												</svg>
											</a> -->
											<button class='btn btn-link p-0'>
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="red" class="icon">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
												</svg>
											</button>
										</form>
									<% } else { %>
										<strong class='mr-2'><%= comment.author.username %></strong>
										<em class='mr-2'>10 days ago</em>
									<% } %>
							</span>
							<p class="mb-2"><%= comment.text %></p>

							<!-- TODO: figure out inline edit -->
							<!-- <% if (comment.edit_mode === true) { %>
								<form class="form-inline" action="/articles/<%=article._id%>?_method=PUT" method="POST">
									<div class="form-group">
										<input type="text" class="form-control mr-2" id="inputText" placeholder="Add new comment" name = "comments[text]">
									</div>
									<button type="submit" class="btn btn-danger">Submit</button>
								</form>							
							<% } else { %>
								<p><%= comment.text %></p>
							<% } %> -->

						</div>
					</div>
				<% }); %>
			<form class="form-inline mt-2" action = "/articles/<%= article._id %>/comments" method = "POST">
				<div class="form-group">
					<input type="text" class="form-control mr-2" id="inputText" placeholder="Add new comment" name = "comments[text]">
				</div>
				<button type="submit" class="btn btn-danger">Submit</button>
			</form>
		</div>

</div>


<% include ../partials/footer %>
